.tile {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
  background-color: grey;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
