.tile {
  font-size: 80px;
  background-color: grey;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 43);
  color: white;
}
.header {
  background-color: rgb(56, 54, 62);
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  height: 100px;
}

.header div {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  transition: fill 0.2s ease;
  fill: grey;
}
.back:hover {
  fill: white;
}

.arrow {
  width: 60px;
  display: none;
  margin-left: px;
}

.title {
  min-width: 250px;
}

.score {
  width: 200px;
  display: flex;
  justify-content: end;
}

.scoreText {
  display: none;
  font-weight: 600;
}

.container {
  display: grid;
  place-items: center;
  margin-top: 50px;
}

.gameboard {
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.symbols {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 20px;
}

.symbols div {
  display: grid;
  place-items: center;
  background-color: grey;
  width: 100px;
  height: 100px;
}

.winner {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 150px; */
}

button {
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 11px;
  font-weight: 900;
  border: 0px;
}

button:hover {
  background-color: grey;
}
